input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid floralwhite;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 50%;
    display: block;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    margin: auto;
}

form{
    border: 2px solid floralwhite;
    margin: 10% 20% 15% 20%;
}

h1{
    color: floralwhite;
    margin: auto 40% auto 40%;
}